body {
    background-image: url(space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
}
.area{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.area-content {
    margin: 20% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 3px solid #fecba0;
    width: 30%;
    border-radius: .375em;
}
.container {
    padding: 16px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 0 4rem 0 black;
}
input{
    width: 100%;
    margin-bottom: 0.5em;
}
#show-form {
    font-size: 2rem;
    margin: 23% 46%;
    width: auto ;
    background-color: rgba(0, 0, 0, 0.397);
    border: 2px solid #fecba0;
    color: #fecba0
}
#show-form:hover {
    background-color: #fecba0;
    color: #000;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.623);
    transition-duration: 750ms;
    border: 2px solid black
}
button {
    background-color: black;
    color: #fecba0;
    border: 4px solid #fecba0;
    border-radius: .375em;
    width: 100%;
    padding: 0.25em 1em;
    font-size: 1em;
    margin-top: 0.5em;
}
button:hover {
    background-color: #fecba0;
    border-color: black;
    color: black;
    box-shadow: 0 0 0.7em 0 rgba(255, 255, 255, 0.521);
    transition-duration: 1000ms;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}